<%= @user.name  %>, <%= @user.email %>


<div>
  This was created at
  <%= @user.created_at %>
</div>
<div>
  This was updated at
  <%= @user.updated_at %>
</div>
<div>
  The current time is
  <%= Time.now %>
</div>